{% extends 'base.html' %}
{% load my_tags %}
{% block title %}Блог{% endblock %}

{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Блог</h1>
    </div>
    <nav>
        <a href="{% url 'blog:post_create' %}">Добавить публикацию</a>
    </nav>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for post in posts %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ post.preview | media_filter }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.content | truncatechars:50 }}</p>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'blog:post' post.pk %}" class="card-link">Посмотреть</a>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Опубликовано: {{ post.created_at | date:"d M Y" }}</li>
                        <li class="list-group-item">Просмотров: {{ post.number_of_views }}</li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
