{% extends 'base.html' %}
{% load my_tags %}
{% block title %}Каталог{% endblock %}

{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Megastore</h1>
        <p class="lead">Megastore - это магазин электроники для вас.</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for product in products %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ product.picture | media_filter }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description | truncatechars:100 }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ product.category }}</li>
                        <li class="list-group-item">Цена {{ product.price | default:"На переоценке" }}</li>
                    </ul>
                    <div class="card-body">
                        <a href="{% url 'catalog:product_details' product.pk %}" class="card-link">Посмотреть</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
