{% extends 'base.html' %}
{% load my_tags %}
{% block title %}Каталог{% endblock %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ product.picture | media_filter }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ product.category }}</li>
                    <li class="list-group-item">Цена {{ product.price | default:"На переоценке" }}</li>
                </ul>
                <div class="card-body">
                    <a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-primary">Изменить</a>
                </div>
                <div class="card-body">
                    <a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-primary">Удалить</a>
                </div>
                <div class="card-body">
                    <a href="{% url 'catalog:home' %}" class="card-link">Назад</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
